<div>
    <form>
        <!-- <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>State</mat-label>
            <input matInput
                   aria-label="State"
                   [matAutocomplete]="auto"
                   name="placename"
                   #placename
                   (keyup) = "onSearchOptions()">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options" [value]="option.place_id">
                <span>{{option.main_text}}</span> |
                <small>{{option.secondary_text}}</small>
              </mat-option>
            </mat-autocomplete>
        </mat-form-field> -->
        <mat-form-field appearance="fill" style = "width: 100%">
          <mat-label>Nombre</mat-label>
          <input ngx-google-places-autocomplete (onAddressChange)="AddressChange($event)" matInput placeholder="Placeholder"/>
        </mat-form-field>
    </form>
</div>
